h {
    color: blue
}

div.user-select-none.svg-container{
    border-top: solid rgb(227, 223, 223);
}

div.css-bzyszk.e1tzin5v2 {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px
}